.header {
    background-color:aquamarine;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-weight: 700;
    font-size: large;
}

.header .links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
}

.big-image {
    display: flex;
    background-color: grey;
    flex-direction: row-reverse;
    position: relative;
    height: max-content;
    align-items: center;
}


.space {
    display: flex;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    width: 30vw;
    height: 30vh;
    margin: 5%;
}

.text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 40vw;
    margin-top: 5%;
}

.img-text {
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
    padding: 5px;
    position: relative;
    width:100%;
    margin-bottom: 0;
    max-height: fit-content;
    height: max-content;
    font-size: large;
}
h1 {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    color:aquamarine;
}


.sign-up {
    display: flex;
    position: relative;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: aquamarine;
    
    font-size: large;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20%;
    min-width: 40px;
}

.info-title {
    justify-content: center;
    display: flex;
    width: 100%;
    color: aquamarine;
    font-size: larger;
    background-color: lightslategray;
}

.random-info {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 52px;
    background-color: lightslategray;
}

.tiles {
    margin-top:5%;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 3%;
    background-color: aquamarine;
}

.tile-image {
    max-width: 200px;
    min-width: 200px;
    height: 150px;
}

.info-text {
    background-color: aquamarine;
    margin-top: 0;
    font-size: large;
}

.quote {
    margin-top: 0vh;
    background-color: gray;
    margin-bottom: 5vh;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.p-quote {
    font-style: italic;
}

.call-to-action {
    margin: 10%;
    margin-bottom: 20%;
    background-color: lightblue;

}


.sign-up-2 {
    display: flex;
}

